/**************CABECERA************/

header{
	
	width: 100%;
	height: 100px;
	background-color: transparent;
	font-weight: normal;
}

.header-social {

    float: right;
    margin: 10px 0;
   
}
.header-social ul{
	list-style: none;
	margin-right: 20px;

}

.header-social li {
    float: left;
   
}
.header-social li a {
    padding: 0 10px;
    font-size: 14px;
    color: #EDC212;
 }

.header-social li a:hover {
	color:white;
	transition: 0.25s;
}

.menu{    
  	float: right;
  	padding-top: 40px;
  	padding-right: 20px;
}

.menu ul{
  	margin-top: 8.125px;
 	 margin-bottom: 8.125px;
}	
.menu ul li{
  	display: inline;
  	padding-left: 1rem;
}

.menu ul li a {

	font-size:20px;
	text-decoration: none;
	color: #fff;

}

.menu ul li a:hover {
	color: #EDC212;
	transition: 0.25s;	

}

.logo{
	width: 350px;
	padding-left: 20px;	
	float: left;
}


/********************INDEX*********************/

body{
	padding: 0;
	margin:0;
	background: #fff url(https://previews.123rf.com/images/welcomia/welcomia1109/welcomia110900361/10654724-gris-grunge-textura-de-malla-metal-grunge-fondo-del-acoplamiento-grunge-colecci%C3%B3n-de-fondos-.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.container{
	width: 100%;
	height: 600px;
}

.container img{
	margin-top: 20px;
	opacity: 0.3;
	border-radius: 30px;
	border-top-right-radius: 120px;
	border-bottom-left-radius: 120px;
	width: 100%;
    height: auto;

}

.container h1{
	margin-top: -550px;
	margin-left: 70px;
	font-size: 120px;
	font-family: 'VT323', monospace;
	color:black;
	text-shadow: 1px 1px #666, 2px 2px #86D6D3, 3px 3px #666, 4px 4px #86D6D3;
   	color: #FC0000;

}
.container p{
	
	margin-left: -470px;
	font-size: 50px;
	font-family: 'VT323', monospace;
	color:black;
	text-align: center;
	text-shadow: 1px 1px #666, 2px 2px #86D6D3, 3px 3px #666, 4px 4px #86D6D3;
   	color: #FC0000;
}

#cuerpo{
	height: 600px;
	/*border:1px solid blue;*/

}

.videos iframe{
	margin-top: 100px;
	margin-left: 50px;
}

.plataformas {
	width: 80%;
	margin:0 auto;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	background:transparent;
	color: #555;
	border-bottom:1px solid #ddd;
	padding-right:20px;
	padding-left:20px;padding-bottom:20px;
}

.plataformas img{
	width: 120px;	
	height: 120px;
	margin-top: 150px;
	margin-left: 120px;
}
.contenido {
	width: 80%;
	margin:0 auto;
	font-family: Roboto Slab;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	background:#fff;
	color: #555;
	border-bottom:1px solid #ddd;
	padding-right:20px;
	padding-left:20px;padding-bottom:20px;
}

.contenido h1{
	background: none;
	color: #000;
	border-bottom:3px solid #000;
}

.popular{
	text-align: center;
}

.popular a{
	text-decoration: none;
	color:white;
}



/******************EDITOR*****************/

.form{
	margin-top:20px;
}

#etiqueta{
	color:white;
}

#tit{
	background-color: #FFF2F2;

}

.area{
	width:900px;
	min-height: 300px;
	max-height: 300px;
	resize: vertical;
	background-color: #FFF2F2;

}
#boton{
	
	background-color: black;
	color:white;
	margin-right: 20px;	

}


/******************LECTOR(BLOGPOST)*****************/

.lector{
	width: 960px;
	height: 500px;
	margin: 0 auto;
	padding-top: 50px;
}

.texto{
	color:white;
	text-align: justify;
	background-color: grey;
	padding:20px;
	border:2px solid white;
	border-radius: 5%;
}

#btn_atras{
	margin-top:10px;
	margin-left: 850px;
	background-color: white;
}

#btn_atras a{
	text-decoration: none;
	color:black;
}
#btn_atras:hover{
	
	background-color:#FFC473;
	transition-duration: 0.25s;
}



/******************PIE*****************/

footer{
	width: 100%;
	height: 100px;
	background-color: black;

}

.copy {
		
	float: left;
     

 }

 .copy p{

 	color:  #EDC212;
 	margin:30px;
 }
  
.iconos {

    float: right;
    margin:30px;
  
}
.iconos  ul{
	list-style: none;
	margin-right: 20px;

}

.iconos  li {
    float: left;
   
}
.iconos  li a {
    padding: 0 10px;
    font-size: 18px;
    color: #EDC212;
 }

.iconos  li a:hover {
	color:white;
	transition: 0.25s;
}
















